@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu Creation";
}
<h2>Menu Creation</h2>
<p>Test of menu creation page</p>
