@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<style>

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #div1 {
        padding:25px;
        margin:25px;
    }

</style>

<div id="div1">
    <table id="editorTable" class="display">
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Date Created</th>
            <th>Role</th>
        </tr>
        <tbody>
            <tr>
                <td>Alex Gow</td>
                <td>agow@cwu.edu</td>
                <td>1/12/17</td>
                <td>Admin</td>
            </tr>
        </tbody>
    </table>
</div>

<a margin:25px; asp-controller="Home" asp-action="Index">Return</a>
