body {
    padding-top: 50px;
    padding-bottom: 20px;
      background-color: #efefef;
}

.header-navbar {
    background-color: #3097D1 !important;
    text-shadow: 0 0 0 !important;
}
.header-navbar a {
    vertical-align: middle;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar {
  background-color: #3097d1;
}

.container .navbar-brand {
    color:white;
    font-weight:bold;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
.centered-form {
 background-color: #FFFFFF;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0.2px #888888;
  padding: 10px;
}
 
.navbar-custom {
    background-color:#3097d1;
    color:#ffffff;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: #ff6a00;
  color: #ffffff;
}